/Semana1/nbproject/private/
/Semana01/nbproject/private/
/Semana01/build/
/FileWritterSemana2/nbproject/private/
/FileWriterSemana2/nbproject/private/
/FileWriterSemana2/build/
/RecursividadSemana3/nbproject/private/
/RecursividadSemana3/build/
/Semana3/nbproject/private/
/Semana3/build/
/Semana5Matriz/nbproject/private/
/Semana5Matriz/build/
